.container {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  gap: 80px;

  .box {
    display: flex;
    min-height: 80px;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    background-color: #2e7d32;
  }
}
