
main.main {
  width: 100%;
  left: 0;
}

.componentsContainer {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 80px;
  gap: 20px;

  .title {
    width: auto;
    align-self: flex-start;
  }
}
